<div class="body">

<div class="media" *ngFor="let c of course">
    
    <div class="container">
        <div class="column">
            <h2 class="h3c">Course</h2>&nbsp;
            <img class="img" [src]='c.imageSrc'>
        </div>
        <div class="media-body">
            <h3>Title:</h3>
            <p class="mt-text">{{c.title}}</p>
            <h3>Description:</h3>
            <p class="mt-text">{{c.description}}</p>
            <h3>Duration:</h3> 
            <p class="mt-text">{{c.duration}}</p>  
       </div>
       <div class="remove-button">
            <button class="btn btn-secondary">Remove <i class="fa fa-trash" aria-hidden="true"></i></button>
       </div>
    </div>
</div>
<br>
<div class="proceed-button">
    <button class="button2">Proceed to Enroll</button>
</div>
</div>
